*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: normal; 
}

body{
    background-color: #F5F1E8;
}

.row{
    display: flex;
    flex-direction: column;
}

.column{
    display: flex;
    flex-direction: row;
}

/*STEPPER*/
.stepper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; /*turn into column*/
    gap: 12px;

    padding: 30px;
    background: #f5f2eb;
}

.step {
  display: flex;
  align-items: center;
  gap: 12px;
}

.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #6B4F2A;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 24px;

    color: #6B4F2A;
    background: white;
}

.step-label {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.step-label:hover {
    color: #837d30; 
    text-shadow: 0 0 8px rgba(0, 123, 255, 0.4); 
}

.line{
    width: 120px;
    height: 1.5px;
    background: #6B4F2A;
}

.step.active .circle {
    background: #6B4F2A;
    color: white;
}

.step p {
    font-size: 20px;
    font-weight: 500;
}

/*MAIN LAYOUT*/
.details-layout {
  display: flex;
  gap: 20px;

  padding: 40px;
  align-items: flex-start;
}

.selection-layout {
  display: flex;
  gap: 20px;

  padding: 40px;
  align-items: center;
  justify-content: center;
}

.left-section {
  width: 320px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.right-section {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  background: #f7f4ed;

  border: 1px solid #c8c1b7;
  border-radius: 16px;

  padding: 20px;
}

.card-selection{
  background: #f7f4ed;

  width: 500px;
  border: 1px solid #c8c1b7;
  border-radius: 16px;

  padding: 20px;
}


/*SECTIONAL THINGY*/
.image-container {
  width: 280px;
  height: 100px;

  margin-bottom: 10px;
}

.room-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-row{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.input-group input {
  height: 40px;
  width: 400px;

  border: 1px solid #8f8577;
  border-radius: 10px;

  padding-inline: 14px;
  font-size: 16px;
}

.price-row {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;
}

.booking-date {
  display: flex;
  justify-content: space-between;
}

.booking-date-selection {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

p {
  font-size: 14px;
  margin-bottom: 5px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.grey-line{
  width: 100%;
  height: 2px;
  background: #d5d5d5;
  margin-bottom: 10px;
}


/*BUTTON*/
.button-container{
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

button {
  background: #6B4F2A;
  color: white;

  border: none;
  border-radius: 12px;

  width: fit-content;
  padding: 14px 28px;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s ease;
}

button.btn-selection{
  background: #6B4F2A;
  color: white;

  border: none;
  border-radius: 12px;

  width: 500px;
  padding: 14px 28px;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s ease;
}