* {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: normal;

  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #F5F1E8;
}

.container {
  max-width: 1200px;
  margin: auto;
  gap: 30px;
}

.row{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.column{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.card {
  width: 78vw;

  display: flex;
  flex-direction: row;
  align-items: center;

  background: #fff;
  border-radius: 18px;
  padding: 25px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
  gap: 25px;
}

.card img {
  width: 250px;
  height: 170px;
  border-radius: 12px;
  
  display: flex;
  align-items: left;
  object-fit: cover;
}

.info {
  flex: 1;
  gap: 5p;
}

.badge {
  display: inline-block;
  background: #111;
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
}

.info h2 {
  margin: 15px 0;
  font-size: 24px;
}

.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  color: #444;
  margin-bottom: 15px;
}

.meta {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  color: #333;
}

.info a {
  color: blue;
  font-size: 14px;
  text-decoration: none;
}

.price {
  text-align: center;
}

.price p {
  color: #555;
}

.price h2 {
  font-size: 30px;
  margin: 10px 0;
}

.price span {
  display: block;
  color: gray;
  font-size: 14px;
  margin-bottom: 18px;
}

.price button {
  background: #4a351c;
  color: white;
  border: none;
  padding: 14px 28px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.price button:hover {
  background: #2e2111;
}

h1 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 40px;
}